/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Ιουν 2017, 12:30:32 μμ
    Author     : luser
*/

h1 {color: blueviolet; font-size: 1.5em; 
}
body { background-color: mediumspringgreen}
img.center {
    display: block;
    margin: 0 auto;
}



